@import "tailwindcss";

@theme {
	/* Fuels Brand Colors */
	--color-gray-50: oklch(0.984 0.003 247.858);
	--color-gray-100: oklch(0.968 0.007 247.896);
	--color-gray-200: oklch(0.929 0.013 255.508);
	--color-gray-300: oklch(0.869 0.022 252.894);
	--color-gray-400: oklch(0.704 0.04 256.788);
	--color-gray-500: oklch(0.554 0.046 257.417);
	--color-gray-600: oklch(0.446 0.043 257.281);
	--color-gray-700: oklch(0.372 0.044 257.287);
	--color-gray-800: oklch(0.279 0.041 260.031);
	--color-gray-900: oklch(0.208 0.042 265.755);
	--color-gray-950: oklch(0.129 0.042 264.695);

	--color-primary-50: oklch(0.971 0.013 17.38);
	--color-primary-100: oklch(0.936 0.032 17.717);
	--color-primary-200: oklch(0.885 0.062 18.334);
	--color-primary-300: oklch(0.808 0.114 19.571);
	--color-primary-400: oklch(0.704 0.191 22.216);
	--color-primary-500: oklch(0.637 0.237 25.331);
	--color-primary-600: oklch(0.577 0.245 27.325);
	--color-primary-700: oklch(0.505 0.213 27.518);
	--color-primary-800: oklch(0.444 0.177 26.899);
	--color-primary-900: oklch(0.396 0.141 25.723);
	--color-primary-950: oklch(0.258 0.092 26.042);

	--color-secondary-50: oklch(0.984 0.003 247.858);
	--color-secondary-100: oklch(0.968 0.007 247.896);
	--color-secondary-200: oklch(0.929 0.013 255.508);
	--color-secondary-300: oklch(0.869 0.022 252.894);
	--color-secondary-400: oklch(0.704 0.04 256.788);
	--color-secondary-500: oklch(0.554 0.046 257.417);
	--color-secondary-600: oklch(0.446 0.043 257.281);
	--color-secondary-700: oklch(0.372 0.044 257.287);
	--color-secondary-800: oklch(0.279 0.041 260.031);
	--color-secondary-900: oklch(0.208 0.042 265.755);
	--color-secondary-950: oklch(0.129 0.042 264.695);

	--font-body: 'Inter', sans-serif;
	--font-display: 'Inter', sans-serif;
}
